@import "./global.css";

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 800ms linear;
  background-color: rgba(0, 0, 0, 0.105);
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes pulse-fast {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }
}

.animate-pulse-slow {
  animation: pulse-fast 2.5s infinite;
}

.animate-pulse-medium {
  animation: pulse-fast 1.5s infinite;
}

.animate-pulse-fast {
  animation: pulse-fast 0.7s infinite;
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@keyframes solidRingBlink {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }

  60% {
    transform: translateX(-80px) scale(0.97);
    opacity: 0.7;
  }

  100% {
    transform: translateX(-160px) scale(0.9);
    opacity: 0;
  }
}

.swipe-left {
  animation: swipeLeft 0.25s cubic-bezier(0.4, 0.2, 0.1, 1) forwards;
}

/* Hide scrollbar for Chrome, Safari, Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scroll {
  scrollbar-width: none;
}